* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    background-color: ;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 56px;
    padding: 24px 0;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 32px;
    padding: 16px;
}

.dots {
    position: absolute;
    bottom: 4px;
}

.fa-circle {
    font-size: 16px;
    margin: 0 6px;
}

.active {
    color: #fff; 
}

.disable {
    color: #000;
    opacity: 0.5;
}
